[submodule "project-5/slam_gmapping"]
	path = project-5/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "project-5/turtlebot"]
	path = project-5/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "project-5/turtlebot_interactions"]
	path = project-5/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions
[submodule "project-5/turtlebot_simulator"]
	path = project-5/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
