[submodule "project-5/slam_gmapping"]
	path = project-5/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "project-5/turtlebot"]
	path = project-5/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "project-5/turtlebot_interactions"]
	path = project-5/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions
[submodule "project-5/turtlebot_simulator"]
	path = project-5/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "Project3/teleop_twist_keyboard"]
	path = Project3/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
[submodule "Project3/pgm_map_creator"]
	path = Project3/pgm_map_creator
	url = https://github.com/udacity/pgm_map_creator.git
